@model CIS2055___Nemesys.ViewModels.EditReportViewModel
@{
    ViewData["Title"] = "Reports";
}


<h2>Nemesys reports</h2>


<form role="form" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-part">
        <input asp-for="Title" name="title" type="text" placeholder="title">
    </div>
    <div class="form-part">
        <input asp-for="Location" name="location" type="text" placeholder="location">
    </div>
    
    <div class="form-part">
        <textarea asp-for="Desc" name="Desc" rows="4">Description</textarea>
    </div>
    <div class="form-part">
        <input asp-for="Reporter_Email" name="ReporterEmail" type="email" placeholder="email">
    </div>
    <div class="form-part">
            <select asp-for="_hazardType" name="h_type" id="HazardType"
                    asp-items="@Html.GetEnumSelectList(typeof(HazardType))">
            </select>
        </div>
    <div class="form-part">
        <select asp-for="_status" name="status" id="ReportStatus"
                asp-items="@Html.GetEnumSelectList(typeof(Status))">
        </select>
    </div>
    
    <div class="form-part">
        <input type="submit" class="btn btn-primary">
        <a asp-controller="Reports" asp-action="Reports" class="btn btn-outline-secondary">Back to Reports</a>
    </div>
</form>