@model CIS2055___Nemesys.ViewModels.EditReportViewModel


<h2>Edit this report</h2>


<form role="form" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-part">
        <input asp-for="RRN" type="hidden">
    </div>
    
    <div class="form-part">
        <input asp-for="Title" name="Title" type="text" placeholder="title">
    </div>
    <div class="form-part">
        <input asp-for="Location" name="Location" type="text" placeholder="location">
    </div>
    
    <div class="form-part">
        <textarea asp-for="Desc" name="Desc" rows="4">Description</textarea>
    </div>
    <div class="form-part">
        <input asp-for="Reporter_Email" name="Reporter_Email" type="email" placeholder="email">
    </div>
    <div class="form-part">
        <select asp-for="_hazardType" name="_hazardType" id="HazardType"
                asp-items="@Html.GetEnumSelectList(typeof(HazardType))">
        </select>
    </div>
    <div class="form-part">
        <select asp-for="_status" name="_status" id="ReportStatus"
                asp-items="@Html.GetEnumSelectList(typeof(Status))">
        </select>
    </div>
    
    <div class="form-part">
        <input type="submit" class="btn btn-primary">
        <a asp-controller="Reports" asp-action="Reports" class="btn btn-outline-secondary">Back to Reports</a>
    </div>
</form>