@{
    ViewData["Title"] = "Home Page";
}

<div>
    @* @foreach (var blogPost in Model) *@
    @* { *@
    @*     <div> *@
    @*         <h3>@blogPost.Title</h3> *@
    @*         <p>Created on the @blogPost.CreatedDate.ToShortDateString() under @blogPost.Category.Name</p> *@
    @*         <img src="@blogPost.ImageUrl" width="200" /> *@
    @*     </div> *@
    @* } *@
</div>
