@model IEnumerable<CIS2055___Nemesys.Models.Documents.Investigation>

@{
    ViewData["Title"] = "Investigation Page";
}

<div>
    @foreach (var report in Model)
    {
        <div>
            @* <h3>@report.DateAndTimeOfReport</h3> *@
            
        </div>
    }
</div>
